html,body{
    height: 100%;
}
/*FORMATO MOBIL*/
.header-mobile{
    display: none;
}
.close-menu{
    display: none;
}

/*COTENEDOR*/
.contenedor{
    background-color: var(--clr-main);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

/*CONTENIDO PRINCIPAL*/
main{
    padding: 2rem;
    width: 75%;
    height: 95%;
    border-radius: 20px;
    background-color: var(--clr-white);
}
.titulo-principal{
    color: var(--clr-main);
    padding: 1rem;
}

/*BARRA LATERAL*/
.aside-visible{
    padding: 3rem 2rem 1rem 2rem;
    height: 95%;
    width: 20%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.aside-visible .logo{
    padding-top: 2rem;
    font-size: 1.5rem;
    color: var(--clr-white);
    align-self: flex-start;
    justify-self: center;
}
/*BOTONES*/
nav{
    height: 50%;
}
nav .menu li{
    width: 100%;
    border-radius: 10px;
    margin: 3vh 0px 3vh 0px;
    padding: 0.8vh 0.8rem;
}
nav .menu li .boton-menu{
    color: var(--clr-white);
    font-size: 1rem;
    background:none;
    border: none;
}
nav .menu li .boton-menu i{
    margin-right: 0.5rem;
    /* display: block;
    transform: rotateZ(90deg); */
}

nav .menu li:hover{
    background-color: var(--clr-white);
}
nav .menu li:hover .boton-menu{
    color: var(--clr-main);
}